body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-image: radial-gradient(circle, #00c7fc, #00b9da, #00aab6, #009a92, #008970, #008263, #007b55, #007448, #00764c, #007851, #007a55, #007c59);
  background-color: #845ec2;
  text-align: center;
  color: #ffff;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #002515;
  padding: 1em;
  border-radius: 10px;
}

button {
  background-color: #004f2e;
  border: none;
  padding: 1em;
  border-radius: 10px;
  box-sizing: 1px, 1px, 6px, black;
  cursor: pointer;
  color: aliceblue;
  transition: 0.3s;
  border: 1px solid #fff;
}

button:hover {
    color:#fff;
    background-color: #004f2e;

}

.final-step,
.second-step {
  display: none;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
#resultado {
    font-size: 25px;
}


.erro{
    display: none;
   color: #cce2d9;
   font-size: 15px;
}